﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProductStore.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/styles/css/bloc.css" />
    </environment>
</head>
<body class="">
    <header class="header">
        <div class="header__partition">
            <div class="header__partition__user-menu">
                <ul class="header__partition__user-menu__list">
                    <li class="header__partition__user-menu__list__item">
                        <a class="header__partition__user-menu__list__item__link" href="/account">Account</a>
                    </li>
                    <li class="header__partition__user-menu__list__item">
                        <a class="header__partition__user-menu__list__item__link" href="/exitsing-orders">Existing Orders</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header__partition">

        </div>
        <div class="header__partition">
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ProductStore.Web</p>
        </footer>
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    @RenderSection("Scripts", required: false)
</body>
</html>
