﻿@model ProductStore.Web.Models.SignUpModel
<div class="signup-container">
    <form action="@Url.Action("SignUp","SignUp")" method="post">
        <div class="signup-container__section">
            @*<div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </div>*@
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            @*<div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.PasswordConfirm)
                @Html.PasswordFor(m => m.PasswordConfirm)
                @Html.ValidationMessageFor(m => m.PasswordConfirm)
            </div>*@
        </div>

        @*<div class="signup-container__section">
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.Firstname)
                @Html.TextBoxFor(m => m.Firstname)
                @Html.ValidationMessageFor(m => m.Firstname)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.MiddleName)
                @Html.TextBoxFor(m => m.MiddleName)
                @Html.ValidationMessageFor(m => m.MiddleName)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.Surname)
                @Html.TextBoxFor(m => m.Surname)
                @Html.ValidationMessageFor(m => m.Surname)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.DOB)
                <input type="text" id="datepicker" name="DOB"/>
                @Html.ValidationMessageFor(m => m.DOB)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.Gender)
                @Html.DropDownListFor(m => m.Gender, Model.GenderList, "Select gender...")
                @Html.ValidationMessageFor(m => m.Gender)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.PhoneOne)
                @Html.TextBoxFor(m => m.PhoneOne)
                @Html.ValidationMessageFor(m => m.PhoneOne)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.PhoneTwo)
                @Html.TextBoxFor(m => m.PhoneTwo)
                @Html.ValidationMessageFor(m => m.PhoneTwo)
            </div>
        </div>

        <div class="signup-container__section">
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.AddressOne)
                @Html.TextBoxFor(m => m.AddressOne)
                @Html.ValidationMessageFor(m => m.AddressOne)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.AddressTwo)
                @Html.TextBoxFor(m => m.AddressTwo)
                @Html.ValidationMessageFor(m => m.AddressTwo)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.AddressThree)
                @Html.TextBoxFor(m => m.AddressThree)
                @Html.ValidationMessageFor(m => m.AddressThree)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.TownCity)
                @Html.TextBoxFor(m => m.TownCity)
                @Html.ValidationMessageFor(m => m.TownCity)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.County)
                @Html.TextBoxFor(m => m.County)
                @Html.ValidationMessageFor(m => m.County)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.PostCode)
                @Html.TextBoxFor(m => m.PostCode)
                @Html.ValidationMessageFor(m => m.PostCode)
            </div>
            <div class="signup-container__section__input-container">
                @Html.LabelFor(m => m.Country)
                @Html.TextBoxFor(m => m.Country)
                @Html.ValidationMessageFor(m => m.Country)
            </div>
        </div>*@

        <input type="submit" name="s">

    </form>
</div>



